.menu-button {
    -fx-background-color: #05071F;
    -fx-border-color: white;
    -fx-border-radius: 1px;
}

.menu-button .label {
    /*-fx-background-color: #05071F; changes the labels bg*/
    -fx-text-fill : #e7e5e5;
 }

 .menu-item:focused {
      -fx-background-color: #10165F;
 }

.menu-item .label {
    -fx-text-fill: #e7e5e5;
}

.menu-item:focused .label {
    -fx-text-fill: #e7e5e5;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #05071F;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}